@using AngularJS_ASPnet48_XML.Helpers
@model IEnumerable<AngularJS_ASPnet48_XML.Models.Product>

@{
    ViewBag.Title = "List";
}

<h3 class="text-center">List page</h3>

<div class="row bordered list-block">
    <div class="col-sm-12">
        <label for="sortby">Sort by :</label>
        <select id="sortby">
            <option value=""></option>
            <option value="Price">Price</option>
            <option value="Popularity">Popularity</option>
        </select>
        (...under construction. Try Home page instead, please.)
    </div>
</div>
<br />
<div class="row bordered list-block">

    @foreach (var item in Model)
    {
        <div class="row bordered">

            <div class="col-sm-1">
                <img alt="Product Image"
                     src="~/Content/images/@Html.DisplayFor(modelItem => item.Image)" />
            </div>

            <div class="col-sm-5">
                <div>
                    = @Html.DisplayFor(modelItem => item.Title) =
                </div>
                <div>
                    @CustomHtmlHelpers.RemoveHTMLTags(item.Description)
                </div>
                <div class="details">
                    <span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </span>
                </div>
            </div>

            <div class="col-sm-4 bordered">
                <div class="row">
                    <div class="col-sm-4">
                        Price:
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(modelItem => item.Price) EUR
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Availability:
                    </div>
                    <div class="col-sm-6" id="@item.Id">
                        ...
                    </div>
                </div>
            </div>

        </div>
    }
</div>

@section scripts
{
    <script src="~/ScriptsCustom/listProcessing.js"></script>
}
