@model IEnumerable<Payments_Net462.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<div class="row table">

    <div class="col">
        @ViewBag.alfa
    </div>
    <div class="col">
        @ViewBag.prima
    </div>
    <div class="col">
        @ViewBag.rest
    </div>
    <div class="col">
        @ViewBag.mono
    </div>
    <div class="col text-right">
        @Html.ActionLink(" ", "Create", null, new { id = "add-button" }, new { @class = "fas fa-plus-square" })
    </div>
</div>


@foreach (var item in Model)
{
    <div class="row table">

        <div class="col-2">
            @Html.DisplayFor(modelItem => item.PayDate)
        </div>
        <div class="col-2">
            @Html.DisplayFor(modelItem => item.Category.Name)
        </div>
        <div class="col-3">
            @Html.DisplayFor(modelItem => item.Amount)
        </div>
        <div class="col-3">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div class="col-2 text-right">
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit" })
        </div>

    </div>
}
