@model MyXpens.Models.PaymentsWithStatVm

@{
    ViewBag.Title = "Index";
}

<p>@ViewBag.BackUpResult</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>...</th>
            <th>@ViewBag.CurrMonth</th>
            <th>@(--ViewBag.CurrMonth)</th>
            <th>@(--ViewBag.CurrMonth)</th>
            <th>@(--ViewBag.CurrMonth)</th>
            <th>30</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.StatistixVm)
        {
            <tr>
                <td class="col-2" onclick="selectCateg('@item.CategoryName')">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.CurrentMonth)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.PreviousMonth)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.B4PrevMonSummary)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.B4B4PrevMonSummary)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.YearAverage)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr class="secondHeader">
            <th>@ViewBag.alfa</th><th>@ViewBag.prima</th><th>@ViewBag.rest</th><th>@ViewBag.mono</th><th>@Html.ActionLink(" ", "Create", "Payments", null, new {@class = "fas fa-plus-square font-weight-bold"})</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PaymentsVm)
        {
            var category = item.Category.Name;
            <tr class="@category">
                <td>
                    @Html.DisplayFor(modelItem => item.PayDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new {id = item.ID}, new {@class = "fas fa-edit font-weight-bold"})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script>
    let selectCateg = function (categ) {
        let categRowShow = document.querySelectorAll('.' + categ);
        let categRowAll = document.querySelectorAll('.rawMain:not(.' + categ + ')');

        categRowAll.forEach(hide);
        categRowShow.forEach(show);
    }
    let hide = function (row) {
        row.classList.add('hidden');
    }
    let show = function (row) {
        row.classList.remove('hidden');
    }
</script>