@model IEnumerable<Payments_Net462.Models.StatistixView>

@{
    ViewBag.Title = "Index";
}

<h2>Statistix</h2>

<table class="table table-striped">
    <tr>
        <th class="col-2">
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.CurrentMonth)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.PreviousMonth)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.YearAverage)
        </th>
        <th class="col-2">
            @Html.DisplayNameFor(model => model.B4PrevMonSummary)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th class="col-2">
            </th>

            <!-- TEMPORARY HACK !!!!!!!!! -->
            @if (item.CategoryName == "ENJ" || item.CategoryName == "KID")
            {
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.CurrentMonth)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.PreviousMonth)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.YearAverage)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.YearSummary)
                </td>
            }
            else
            {
                <th class="col-2">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </th>
                <th class="col-2">
                    @Html.DisplayFor(modelItem => item.CurrentMonth)
                </th>
                <th class="col-2">
                    @Html.DisplayFor(modelItem => item.PreviousMonth)
                </th>
                <th class="col-2">
                    @Html.DisplayFor(modelItem => item.YearAverage)
                </th>
                <th class="col-2">
                    @Html.DisplayFor(modelItem => item.YearSummary)
                </th>
            }
        </tr>
    }
</table>
